<h1>Invitados</h1>
<ul>
  <%@meeting.invitations.each do |invitation|%>
    <li>
      <%= invitation.user.name%> <%=invitation.user.last_name%>  <%= link_to "Anular invitation", invitation_path(invitation.id), method: :delete, data: { confirm: "Confirme esta acción por favor" }  %>
    </li>
  <% end %>
</ul>
